<div class="signup">
  <form class="signup__form">
    <div class="signup__form__field">
      <label for="firstName">Primeiro nome</label>
      <input type="text" placeholder="Entre com o seu primeiro nome">
    </div>

    <div class="signup__form__field">
      <label for="lastName">Sobrenome</label>
      <input type="text" placeholder="Entre com o seu sobrenome">
    </div>

    <div class="signup__form__field">
      <label for="email">Email</label>
      <input type="text" placeholder="Entre com o seu email">
    </div>

    <div class="signup__form__field">
      <label for="password">Senha</label>
      <input type="text" placeholder="Entre com a sua senha">
    </div>

    <div class="signup__form__field">
      <label for="salary">Salário</label>
      <input type="number" placeholder="Entre com o seu salário">
    </div>

    <div class="signup__form__field">
      <label for="currency">Moeda</label>
      <select name="currency">
        <option value="BRL">BRL</option>
      </select>
    </div>

    <button type="submit">Criar conta</button>
    <p>Ja possui uma conta? <a [routerLink]="['signin']">Entre aqui</a></p>
  </form>


</div>
